@charset "UTF-8";

#bodyContainer { 
	width: 70%; 
	margin: auto; 
}

.floatClearClass {
  clear: both;
  float: none;
}

.menuContainer {
	margin: auto;
	text-align: center;
}

.menuItemTitleArea h3 {
	width: 25%; 
	padding: 15px 15px 0px 15px;
	float: left;
}

.menuItemArea {
  overflow: auto;
}

.menuOneItem {
  float: left; 
  width: 25%; 
  
}

.menuOneItem a {
  display: block; 
  padding: 5px;
  margin: 10px 25px 20px 25px;
  text-decoration: none;
  background: white;
  border: 1px solid;
  border-color: rgb(229, 170, 163);
  color: rgb(229, 170, 163);
  border-radius: 2px;
  cursor: pointer;
}

.menuOneItem a:hover,
.menuOneItem a:focus{
	border-color: rgb(231, 76, 60);
	color: rgb(231, 76, 60);
	transition: 0.7s;
}
