@charset "UTF-8";

#prdInfoBodyContainer { 
	width: 70%; 
	margin: auto; 
}

.floatClearClass {
  clear: both;
  float: none;
}
/* Image 영역*/
.ProimageArea {
  width: 50%;
  float: left;
  background-color: #f5f5f5; 
  height: 440px; 
}

/* 상품 상세 설명 영역*/

.ProItemDetailArea {
	padding-left: 30px;
	width: 50%;
	float: left;
}
.pageTitleArea{
	text-align: center;
    color: rgb(229, 170, 163);
    padding: 30px 0px 0px 0px;
    font-size: x-large;
}
.ItemTitleArea {
	width: 40%;
	text-align: left;
}

.proProductInfo {
	width: 70%;
	text-align: left;
	margin: 0 auto;
}

.proInfoArea {
	text-align: left;
	width: 50%;
	float: right;
}
.ItemArea {
	float: left;
	margin-bottom: 10px;
}

.ItemContentArea {
	width: 60%;
}
.prdAddTable th,
.prdAddTable td {
	line-height: 2.5rem;
}
/* select 스타일 */
.SaleSelect,
.CategorySelect {
	width: 100%;
  padding: 6px 10px;
  border-radius: 4px;
}
.SaleSelect option,
.CategorySelect option{
  padding: 6px 10px;
  text-align: center;
}

/* text, number type 스타일 설정 */
.prdAddTable input[type="text"],
.prdAddTable input[type="number"] {
  width: 100%;
  text-align: left;
  padding: 5px 10px;
  font-size: 17px;
  border: solid grey;
  border-width: 1px;
  background: white;
  border-radius: 4px;
  -moz-appearance: textfield; /* Firefox에서 숫자 입력란의 스피너 제거 */
}

/* Webkit 브라우저에서 숫자 입력란의 스피너 제거 */
.prdAddTable input[type="number"]::-webkit-inner-spin-button,
.prdAddTable input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.uploadFileLableStyle {
	font-size: small;
	margin-right: 2px;
	
	text-align: center;
	padding: 2px 8px;
	background: white;
	border: 1px solid;
	border-color: rgb(229, 170, 163);
	color: rgb(229, 170, 163);
	border-radius: 2px;
	cursor: pointer;
}
/* 버튼 영역 */
.buttonArea {
	width: 50%;
	padding-top: 3px;	
	padding-left: 30px;
	margin: 0 auto;
	display: flex;
  	justify-content: space-between;
}

.ProInfoItemBtn {
	float: left;
	margin-right: 2px;
	width: 46%;
	text-align: center;
	padding: 8px 8px;
	background: white;
	border: 1px solid;
	border-color: rgb(229, 170, 163);
	color: rgb(229, 170, 163);
	border-radius: 2px;
	cursor: pointer;
}

.ProInfoItemBtn:hover, .ProInfoItemBtn:focus{
	border-color: rgb(231, 76, 60);
	color: rgb(231, 76, 60);
	transition: 0.7s;
}


/* 상품 상세 정보 영역 */
.ProductInfoArea {
	margin-top: 10px;
}