/* 헤더 컨테이너 스타일 */
.header {
	width: 70%;
    margin: 0 auto; /* 수평 중앙 정렬 */
    display: flex;
    flex-direction: column; /* 자식 요소들을 세로로 정렬 */
    align-items: center; /* 세로축에서 자식들을 중앙에 배치 */
    padding: 20px 0; /* 상하 여백 */
    border-bottom: 1px solid #d2d2d2; /* 헤더 아래에 경계선 추가 */
}

.logo {
    width: 100%; /* 로고 너비 전체 사용 */
    display: flex;
    justify-content: center; /* 가로축에서 로고 중앙에 배치 */
    margin-bottom: 50px; /* 로고와 메뉴 사이에 공백 */
    margin-top: 50px;
}

/* 메뉴와 버튼을 감싸는 영역 */
.menu-wrapper {
    width: 100%; /* 부모의 전체 너비를 사용 */
    display: flex;
    justify-content: space-between; /* 메뉴와 버튼 영역을 양쪽 끝으로 배치 */
}

.allMenuArea {
    display: flex;
    align-items: center;
}

.allMenuArea ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* 메뉴 항목 스타일 */
.allMenuArea li a {
    position: relative;
    display: block;
    color: black;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
}

.allMenuArea li a:after {
    content: '';
    display: block;
    width: 100%; /* 가상 요소의 너비 */
    height: 1px;
    background: #888;
    transition: transform 0.5s ease; /* transform 변화에 대한 애니메이션 */
    position: absolute;
    bottom: -2px; /* 위치 조정 */
    left: 50%; /* 왼쪽에서 50% 떨어진 곳에 배치 */
    transform: translateX(-50%) scaleX(0); /* 가운데에서 시작 */
    transform-origin: center; /* 변형의 기준점을 가운데로 설정 */
}

/* 호버 시 메뉴 항목 아래 줄 애니메이션 */
.allMenuArea li a:hover:after,
.allMenuArea li a:focus:after {
    transform: translateX(-50%) scaleX(1); /* 호버 상태에서 너비 100%로 확장 */
    background: rgb(92, 110, 86); /* 호버 시 색상 변경 */
}


/* 드롭다운 스타일 */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: black; /* 버튼 글자 색상 */
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdownContent {
  display: none; /* 초기에는 드롭다운 내용을 숨김 */
  position: absolute;
  background-color: #f9f9f9; /* 드롭다운 배경 색상 */
  min-width: 160px; /* 드롭다운 너비 */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* 그림자 효과 */
  z-index: 1;
}

.dropdownContent a {
  color: black; /* 드롭다운 링크 색상 */
  padding: 12px 16px;
  margin: 15px 0px;
  text-decoration: none;
  display: block;
  position: relative; /* 상대 위치 설정 */
  transition: color 0.3s; /* 색상 변화에 대한 애니메이션 */
}

/* 드롭다운 컨텐트에 호버 효과 적용하지 않음 */
.dropdownContent a:hover:after,
.dropdownContent a:focus:after {
    content: none; /* 드롭다운 항목에 호버 시 나타나는 밑줄 제거 */
}

/* 드롭다운 컨텐츠 항목 호버 스타일 */
.dropdownContent a:hover {
       color: rgb(231, 76, 60);
       transition: 0.8s;
}

/* 호버 상태에서 드롭다운 내용 표시 */

.dropdown:hover .dropdownContent {
  display: block;
}




.buttonMenuArea {
    display: flex;
    align-items: center;
}



/* 버튼 메뉴 영역 스타일 */
.buttonMenuArea [class*='fa'] {
    margin-left: 10px; /* 버튼 사이의 간격 */
    padding: 4px 10px;
    font-size: 30px;
    cursor: pointer;
}

.buttonMenuArea [class*='fa']:hover,
.buttonMenuArea [class*='fa']:focus {
   color: rgb(231, 76, 60);
	transition: 0.7s;
}