@charset "UTF-8";

/* 전체 영역 디자인. 크기, 글꼴 등을 지정. 글꼴은 link를 통하여 구글 폰트 사용 */
* {
	box-sizing: border-box;
	font-family: "Noto Sans KR", sans-serif;
}

#container { 
	width: 100%; 
	margin: auto; 
}

.floatClearClass {
  clear: both;
  float: none;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .header {
    width: 100%;
  }
  .menu-wrapper {
    flex-direction: column;
  }
} 