@charset "UTF-8";

#prdInfoBodyContainer { 
	width: 70%; 
	margin: auto; 
}

.floatClearClass {
  clear: both;
  float: none;
}

.pageTitleArea{
	text-align: center;
    color: rgb(92, 110, 86);
    padding: 30px 0px 0px 0px;
    font-size: x-large;
}


.prdAddForm {
	margin: 0 auto;
}
.prdAddTable {
	width: 40%;	
	margin: 0 auto;
}
.prdAddTable th {
	text-align: left;
}

.prdAddTable th,
.prdAddTable td {
	line-height: 2.8rem;
}

/* text, number type 스타일 설정 */
.prdAddTable input[type="text"],
.prdAddTable input[type="number"] {
  width: 100%;
  text-align: left;
  padding: 5px 10px;
  font-size: 17px;
  border: solid grey;
  border-width: 1px;
  background: white;
  border-radius: 4px;
  -moz-appearance: textfield; /* Firefox에서 숫자 입력란의 스피너 제거 */
}
/* Webkit 브라우저에서 숫자 입력란의 스피너 제거 */
.prdAddTable input[type="number"]::-webkit-inner-spin-button,
.prdAddTable input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.searchSelect {
	width: 100%;
  padding: 6px 10px;
  border-radius: 4px;
}
.searchSelect option{
  padding: 6px 10px;
  text-align: center;
}
.buttonArea {
	width: 40%;	
	margin: 0 auto;
	display: flex;
  	justify-content: space-between;
}
.btnProductAdd {
	float: left;
	text-align: center;
	width: calc(50% - 2px); /* 버튼 사이 간격 고려 */
	padding: 8px 0px;
	background: white;
	border: 1px solid;
	border-color: rgb(92, 110, 86);
	color: rgb(92, 110, 86);
	border-radius: 2px;
	cursor: pointer;
}
/* 첫 번째 버튼(초기화) 스타일 */
.btnProductAdd[type="reset"] {
  margin-right: 4px;
}

/* 두 번째 버튼(상품추가) 스타일 */
.btnProductAdd[type="button"] {
  margin-left: 4px;
}
.btnProductAdd:hover, .btnProductAdd:focus{
	border-color: rgb(231, 76, 60);
	color: rgb(231, 76, 60);
	transition: 0.7s;
}
